html{
	 background:-webkit-gradient(radial,center center,0,center center,540,from(#5a5a5a),to(#050505)); 
	 padding-top:40px;
	 height: 760px;
}
body 
{	margin: 0 0 0 0;
	font-family: "微软雅黑";
	margin: 0 auto;
}
.big{
	width:100%;
	height:720px;
	z-index: -1;
}
.bg 
{
	width:1280px;
	height:735px;
	background-image: url("../images1/bg4.png");
	background-repeat: no-repeat;
	z-index: 1;
	position:absolute;
	left:50%;
	margin-left: -640px;
}
.logo{

	width:481.5px;
	height:158px;
	background-image: url("../images1/logo.png");
	position:absolute;
	margin:0;
	left:0px;
	top:0px;

}
#btnLogin,#btnsigin{
	height:96px;
	margin-top:0px;
	margin-left:0px;
	top:172.5px;
	letter-spacing: 2px;
	font-size: 30px;
	color:#fff;
	border-style: none;
	position:absolute;
}
#btnLogin{
	width:294.5px;
	left:0px;
	background: url(../images1/login.png);
}
#btnsigin{
	width:172px;
	left:309.5px;
	background: url(../images1/sigin.png);
}

#spline{

	width:783.5px;
	height:268px;
	background-color: rgba(1,1,1,0.15);
	position:absolute;
	margin-top:0px;
	margin-left:0px;
	left:496.5px;
	top:0px;
}
#spline1{

	width:583.5px;
	height:268px;
	position:absolute;
	margin-top:0px;
	margin-left:0px;
	left:100px;
	top:0px;
}
.community{

	width:1280px;
	height:436px;
	position:absolute;
	margin-top:0px;
	margin-left:0px;
	left:0px;
	top:283px;
}

.wl1,.wl2,.wl3,.wl4{
	background-color: white;
	position:absolute;
	margin-top:0px;
	margin-left:0px;
	background-color: rgba(255,255,255,0.95);
}
.wl1{
	width:15px;
	height:96px;
	left:294.5px;
	top:172.5px;
}
.wl2{
	width:15px;
	height:269px;
	left:481.5px;
	top:0px;
}
.wl3{
	width:481.5px;
	height:15px;
	left:0px;
	top:157.5px;
}
.wl4{
	width:1280px;
	height:15px;
	left:0px;
	top:268px;
}
.bian1,.bian2{
	width:160px;
	height:436px;
	position:absolute;
	margin-top:0px;
	margin-left:0px;
	top:0px;
}

.bian1{
	left:0px;
}
.bian2{
	left:1120px;
}
.community img{
	top:50%;
	left: 50%;
	margin-top: -71px;
	margin-left: -71px;
	position: absolute;
}
.tu1,.tu2,.tu3,.tu4,.tu5,.tu6,.tu7,.tu8{
	width:240px;
	height:218px;
	position:absolute;
	margin-top:0px;
	margin-left:0px;
}

.tu1,.tu2,.tu3,.tu4{
	top:0px;
}
.tu5,.tu6,.tu7,.tu8{
	top:218px;
}
.tu1,.tu5{
	left:160px;
}
.tu2,.tu6{
	left:400px;
}
.tu3,.tu7{
	left:640px;
}
.tu4,.tu8{
	left:880px;
}

#close{ 
	background:url("../images1/close.png") no-repeat; 
	width:30px; 
	height:30px; 
	cursor:pointer; 
	position:absolute; 
	right:5px; 
	top:20px; 
	text-indent:-999em;
	}
#mask{ 
	background-color:#ccc;
	opacity:0.5;
	filter: alpha(opacity=50); 
	position:absolute; 
	left:0;
	top:0;
	z-index:1000;
	}
	
#login{ 
	position:fixed;
	z-index:1001;
	}
.loginCon{ 
	position:relative; 
	width:400px;
	height:320px;
	background:#fff center center no-repeat;
	}
#close1{ 
	background:url("../images1/close.png") no-repeat; 
	width:30px; 
	height:30px; 
	cursor:pointer; 
	position:absolute; 
	right:5px; 
	top:20px; 
	text-indent:-999em;
	}
#mask1{ 
	background-color:#ccc;
	opacity:0.5;
	filter: alpha(opacity=50); 
	position:absolute; 
	left:0;
	top:0;
	z-index:998;
	}
	
#sigin{ 
	position:fixed;
	z-index:999;
	}
.siginCon{ 
	position:relative; 
	width:400px;
	height:320px;
	background:#fff center center no-repeat;
	}	
ul li 
{
list-style: none;
}
ul 
{
	margin:0px;
	padding: 0px;
	position: absolute;
	margin-left: 25px;
	margin-top: 80px;
}
ul li input 
{
	width:300px;
	height:32px;
	font-size: 14px;
	border-style: none;
	border:1px solid #c0c0c0;
	text-indent: 30px;
}
ul li input[type="text"] 
{
	
	border-bottom: 0px;
	background-image: url("../images1/user.png");
	background-repeat: no-repeat;
	background-size: 27px 30px;

}
ul li input[type="password"] 
{
	background-image: url("../images1/password.png");
	background-repeat: no-repeat;
	background-size: 27px 30px;
}
ul li input[type="submit"] 
{
	text-indent: 0px;
	letter-spacing: 3px;
	margin-top: 30px;
	background-color: #8db800;
	transition:0.5s;
}
ul li input[type="submit"]:hover 
{
	background-color: #aed505;
}
ul li p 
{
	text-indent: 130px;
	margin-top: 45px;
}
.btn 
{
	width:145px;
	height:40px;
	color:white; 
	text-decoration: none;
	font-size: 12px;
	text-indent: 50px;
	position: absolute;
	cursor:pointer;
}
.tencent,.sina,.renren
{
	width: 145px;
	height: 40px;
	border-radius: 5px;
	line-height: 40px;
	margin-left: 280px;
	position: absolute;
}

.tencent img
{
top:50%;
margin-top: -14px;
position:absolute;
margin-left: 5px;
}
.sina img 
{
top:50%;
margin-top: -14px;
position:absolute;
margin-left: 5px;
}
.renren img 
{
top:50%;
margin-top: -14px;
position:absolute;
margin-left: 5px;
}
.sina 
{
	margin-top:-78px;
	background-color: #e65e42;
	transition:0.5s;
}
.renren 
{
	margin-top: -28px;
	background-color: #5a7aa4;
	transition:0.5s;
}
.tencent 
{
	background-color: #308eb5;
	margin-top:-128px;
	transition:0.5s;
}
.tencent:hover
{
background-color: #14B1F2;
}
.sina:hover 
{
	background-color: #F0340D;
}
.renren:hover 
{
	background-color: #1E71DD;
}
ul li p 
{
	margin-top: 70px;
}
