*{
	margin:0px;
	padding: 0px;
	font-family: '微软雅黑',Roboto
}
ul li{
	list-style: none;
}
/*#container{
	min-height: 600px;
}*/
#header{
	min-width: 1200px;
	position: absolute;
	width: 100%;
	height:10%;
	top:0px;
	box-shadow: 0px 2px 4px #aaa;
	z-index: 1000;
}
#header #hamburger-icon,#more-icon{
	display: inline-block;
	cursor: pointer;
	/*margin-top: 1.6%;*/
}
#header #hamburger-icon{
	float: left;
	display: block;
	margin-left: 30px;
	margin-top: 20px;
	width: 30px;
	height: 25px;
	background: url(../images/hamburger.png);

}
#header #hamburger-icon:hover{
	margin-top: 15px;
	height: 35px;
	background: url(../images/hamburger-hover.png);
}
#header #more-icon{
	margin-top: 12.5px;
	float: right;
	margin-right: 12.5px;
	display: block;
	width: 40px;
	height: 40px;
	background-color: rgba(0,0,0,0);
	border-radius:50%;
	position: relative;
}
#header #more-icon img{
	position: absolute;
	left: 50%;
	margin-left: -2.5px;
	margin-top: 7.5px;
}
#header #more-icon:hover{
	background-color: #E4E4E4;
	transition: background-color 1s;
	-moz-transition: background-color 1s;	/* Firefox 4 */
	-webkit-transition: background-color 1s;	/* Safari 和 Chrome */
	-o-transition: background-color 1s;
}
#header #more-icon .show{
	display: block;
}
#header #more-icon .hide{
	display: none;
}
#header #more-icon #more-list{
	position: absolute;
	top: 40px;
	right: 20px;
}
#header #more-icon #more-list ul{
	display: block;
	width: 100px;
	height: 80px;
	background-color: #fff;
	box-shadow:0px 2px 4px #aaa;
	padding-top: 10px;
	padding-bottom: 10px;
}
#header #more-icon #more-list li{
	display: block;
	height: 40px;
	font-size: 16px;
	line-height: 40px;
	text-align: center;
	color: #555;
}
#header #more-icon #more-list li:first-child{

}
#header #more-icon #more-list li:hover{
	background-color: #E4E4E4;
}

#pageBody{
	position: absolute;
	min-height: 550px;
	min-width: 760px;
	position: absolute;
	width: 100%;
	height: 90%;
	top:10%;
	z-index: 200;
}
#sidebar{
	/*min-width: 160px;*/
	position: absolute;
	width: 20%;
	height: 100%;
	left: 0;
	box-shadow: 2px 2px 4px #aaa;
	-moz-transition: width 0.5s; /* Firefox 4 */
	-webkit-transition: width 0.5s; /* Safari 和 Chrome */
	-o-transition: width 0.5s; /* Opera */
	overflow: hidden;
}
#title{
	width:100%;
	height: 60px;
	margin-top: 0px;
	background-color:#5CC595;
	box-shadow: 0px 2px 4px #aaa;
}
#title h2{
	line-height: 60px;
	color: #fff;
	text-align: center;
	font-size: 18px;
}
#sidebar button{
	outline: none;
	position: absolute;
	top:80%;
	left: 50%;
	margin-left: -10%;
	background-color: #5CC595;
	width:20%;
	height:30px;
	border: 0px;
	border-radius: 5px;
	box-shadow: 0px 2px 4px #aaa;
	text-align: center;
	color: #fff;
	font-size: 18px;
	line-height: 30px;
	cursor: pointer;
}
#sidebar button:hover{
	width: 65px;
	height:34px;
	margin-left: -32.5px;
	margin-top: -2px;
	background-color: #008758;
	border-radius: 7px;
	-moz-transition:background-color 0.5s; /* Firefox 4 */
	-webkit-transition:background-color 0.5s; /* Safari 和 Chrome */
	-o-transition:background-color 0.5s; /* Opera */
}
#sidebar p{
	text-align:left;
	color: #333;
	margin-top: 5px;
	margin-left: 60px;
}
#sidebar span{
	color: #5CC595;
	font-size: 16px;
}
#sidebar .con{
	display: block;
	text-align: left;
	height: 300px;
	width: 100%;
}
#sidebar .con p{
	word-break:break-all;
	line-height: 1.5;
	text-align: left;
	margin-left: 60px;
}
#sidebar p:first-child{
	margin-top: 35px;
}
#sidebar h4{
	color: #333;
	margin-top: 20px;
	margin-left: 60px;
	font-size: 16px;
	font-weight: normal;
	color: #5CC595;
}
#content{
	/*min-width: 640px;*/
	position: absolute;
	width: 80%;
	height: 100%;
	right: 0;
	-moz-transition: width 0.5s; /* Firefox 4 */
	-webkit-transition: width 0.5s; /* Safari 和 Chrome */
	-o-transition: width 0.5s; /* Opera */
}
#content img{
	display: block;
	margin:0 auto;
}
#network{
padding-top: 40px;
	width: 1000px;
	height: 500px;
	margin: 0 auto;
}