
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>具体事件</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<script src="../static/js/jquery-1.10.1.min.js"></script>
	<script language="JavaScript" src="../static/js/login_sigin.js"></script>
	<link rel="stylesheet" href="../static/css/frame.css" />
	<link rel="stylesheet" href="../static/css/eventspage.css" />
	<link rel="stylesheet" href="../static/css/login_sigin.css" />
</head>
<body>
	<div id="head">
		<div id="headWrapper">
			<a href="index.html"><div id="logo"><img src="../static/image1/logo.png"></div></a>
			<div id="log_sig">
				<div id="btnLogin"><img src="../static/image1/login.png"></div>
				<div id="btnSigin"><img src="../static/image1/sigin.png"></div>
			</div>
		</div>
	</div>
	<HR  width="980" color=#fff SIZE=2>
	<div id="container">
		<div id="left">
			<div id="button1"><img src="../static/image2/yukuai.png"></div>
			<a href="chartspage.html"><div id="button2"></div></a>
			<a href="keywordspage.html"><div id="button3"></div></a>
			<a href="#"><div id="button4"></div></a>
			<a href="#"><div id="button5"></div></a>
			<a href="#"><div id="button6"></div></a>
			<a href="#"><div id="button7"></div></a>
			<div id="triangle"><img src="../static/image2/triangle.png"></div>
		</div>
		<div id="right">
			<div id="subtitle"><img src="../static/image2/subtitle.png" alt=""></div>
			<div id="events" >
				<table class="tablebox">
					<tbody id="table2">

	
                            <tr>
							<td id='f1'>1</td>
							<td id="a"><a href='#'>甜蜜！贾静雯产后上节目曝情定修杰楷内情</a></td>
						</tr>

                            <tr>
							<td id='f1'>2</td>
							<td id="a"><a href='#'>周杰伦和昆凌为爱女举办了百天派对，全场粉色公主风梦幻无比</a></td>
						</tr>

                            <tr>
							<td id='f1'>3</td>
							<td id="a"><a href='#'>吴奇隆探班刘诗诗 片场恩爱羡煞旁人</a></td>
						</tr>

                            <tr>
							<td id='f1'>4</td>
							<td id="a"><a href='#'>周杰伦韩国陪昆凌游玩</a></td>
						</tr>

                            <tr>
							<td id='f1'>5</td>
							<td id="a"><a href='#'>彗星来的那一夜</a></td>
						</tr>

                            <tr>
							<td id='f1'>6</td>
							<td id="a"><a href='#'>寻找小糖人</a></td>
						</tr>

                            <tr>
							<td id='f1'>7</td>
							<td id="a"><a href='#'>极高由里子</a></td>
						</tr>

                            <tr>
							<td id='f1'>8</td>
							<td id="a"><a href='#'>风靡朋友圈的乳酪包 - 奶香浓郁，简单易上手</a></td>
						</tr>

                            <tr>
							<td id='f1'>9</td>
							<td id="a"><a href='#'>鸳鸯剪刀，蝴蝶效应</a></td>
						</tr>

                            <tr>
							<td id='f1'>10</td>
							<td id="a"><a href='#'>苏州日记</a></td>
						</tr>

                            <tr>
							<td id='f1'>11</td>
							<td id="a"><a href='#'>斯通纳</a></td>
						</tr>

                            <tr>
							<td id='f1'>12</td>
							<td id="a"><a href='#'>火柴盒</a></td>
						</tr>

                            <tr>
							<td id='f1'>13</td>
							<td id="a"><a href='#'>落网</a></td>
						</tr>

				</tbody>
	        </table>
			<div id="sp">
				<span id="ye">页</span>
				<span id="spanTotalPage"></span>
				<span id="yegong">页/共</span>
				<span id="spanPageNum"></span>
				<span id="di">第</span>
				<span id="spanLast">最后一页</span><!-- </br> -->
				<span id="spanNext">下一页</span>
				<span id="spanPre">上一页</span>
				<span id="spanFirst">第一页</span>
			</div>
			<script language="JavaScript" src="../static/js/eventspage.js"></script>
			</div>
		</div>
	</div>
	<div id="footer">
		<div id="line_bottom"><HR  width="880" color=#fff SIZE=2></div>
		<div id="copyright"><p>Copyright©2015 广外舆情项目小组</p><div>
	</div>
</body>
</html>

    