<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Homepage</title>
	<link rel="stylesheet" href="../static/xiugai/css2/index2.css">
	<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="http://code.highcharts.com/highcharts.js"></script>
	<script language="JavaScript" src="../static/xiugai/js2/js2.js">
</script>
</head>
<body>
<div class="big">
<div class="bg">
	<div class="logo"></div>
   	<button id="btnLogin" hidefocus="true" ></button>
	<button id="btnsigin" hidefocus="true" ></button>
   	<div id="spline">
   		<div id="spline1"></div>
   	</div>
   	<div class="community">
   		<div class="bian1"></div>
   		<div class="bian2"></div>
   		<div class="tu1"><img src="/static/xiugai/images1/kaixin.png"></div>
         <div class="tu2"><img src="../static/xiugai/images1/xiyue.png"></div>
         <div class="tu3"><img src="../static/xiugai/images1/jingya.png"></div>
         <div class="tu4"><img src="../static/xiugai/images1/yiban.png"></div>
         <div class="tu5"><img src="/static/xiugai/images1/wunai.png"></div>
         <div class="tu6"><img src="/static/xiugai/images1/nanguo.png"></div>
         <div class="tu7"><img src="/static/xiugai/images1/fennu.png"></div>
         <div class="tu8"><img src="/static/xiugai/images1/exin.png"></div>
   	</div>
   	<div class="wl1" ></div>
   	<div class="wl2"></div>
   	<div class="wl3"></div>
   	<div class="wl4"></div>
</div>   	
</div>	
</body>
</html>