<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Nanguo</title>
	<link rel="stylesheet" href="../static/css/style_secondPage.css">
	<script src="../static/js/jquery-1.10.1.min.js"></script>
    <script src="../static/js/highcharts.js"></script>
    <script language="JavaScript" src="../static/js/login_sigin.js"></script>
    <script language="JavaScript" src="../static/secondPage_nanguo_js/secondpage_nanguo_linechart.js"></script>
    <script language="JavaScript" src="../static/secondPage_nanguo_js/secondpage_nanguo_piechart.js"></script>
    <script language="JavaScript" src="../static/secondPage_nanguo_js/secondpage_nanguo_barchart.js"></script>
</head>
<body>
	<div class="background">
		<div class="bigbox">
			<div class="head">
				<div id="logo"><a href="###"><img src="../static/image2/logo.png"></a></div>
				<div id="label"><img src="../static/image2/label.png"></div>
				<div id="btnLogin" style="cursor:pointer"><img src="../static/image2/login.png"></div>
				<div id="btnSigin" style="cursor:pointer"><img src="../static/image2/sigin.png"></div>
			</div>
			<div class="left">
				<a href="kaixin.html" target="_blank"><div class="button1"></div></a>
				<a href="kuaile.html" target="_blank"><div class="button2"></div></a>
				<a href="manyi.html" target="_blank"><div class="button3"></div></a>
				<a href="jingya.html" target="_blank"><div class="button4"></div></a>
				<a href="buman.html" target="_blank"><div class="button5"></div></a>
				<a href="wunai.html" target="_blank"><div class="button6"></div></a>
				<a href="nanguo.html" target="_blank"><div class="button7"></div></a>
				<a href="tonghen.html" target="_blank"><div class="button8"></div></a>
			</div>
			<div id="line_chart"></div>
			<div id="pie_chart"></div>
			<div id="bar_chart"></div>
		</div>		
	</div>
</body>
</html>