#close,#close1{ 
	background:url(../image1/xx.png);
	background-repeat:no-repeat; 
	width:30px; 
	height:30px; 
	cursor:pointer;
	position:absolute; 
	right:5px; 
	top:10px; 
	text-indent:-999em;	
}
#mask,#mask1{ 
	background-color:#000;
	opacity:0;
	filter: alpha(opacity=50); 
	position:absolute; 
	left:0;
	top:0;
	z-index: 1000;
}
	
#login,#sigin{ 
	position:fixed;
	z-index: 1001;
}

.loginCon,.siginCon{ 
	position:relative; 
	width:380px;
	height:280px;
	background:rgba(255,255,255,0.95) center center no-repeat;
	border-radius: 10px;
	border-width:0;
}

ul li 
{
list-style: none;
margin-top: 10px;
}

ul 
{
	padding: 0px;
	position: absolute;
	margin-left: 60px;
	margin-top: 108px;
}
ul li input 
{	
	font-size: 14px;
	border-style: none;
	border:1px solid #c0c0c0;
	text-indent:4px;

}

ul li input[type="text"] 
{
	width:260px;
	height:28px;
	border-radius: 5px;
	padding: 0;
	color:#ccc;

}
ul li input[type="password"] 
{
	width:260px;
	height:28px;
	border-radius: 5px;
	padding: 0;
	color: #ccc;
}
ul li input[type="submit"] 
{
	width:262px;
	height:32px;
	letter-spacing: 3px;
	background-color: #fa8c9e;
	transition:0.5s;
	color: white;
	border-radius:5px;
	border-width: 0;
	cursor: pointer;
}
ul li input[type="submit"]:hover 
{
	background-color: #f84d6e;
}